<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  	<head> 	</head>
  	<div class="container" >
  <button type="button" class="btn btn-primary" data-toggle ='home' data-target='#model-1'>
  	<div class ='home' id='model-1'>
  	<div class ='content'>
  	<div class='header'>
	<button type="button" class='close' data-dissmiss = 'home'> &times; </button>
  	<h3 class="title"> This is the Heading</h3>
  	<div class ='body'>
		Tracking the mysterious life and death of her role model, the unnamed narrator in Barbara Bourland’s Fake Like Me discovers how to follow her own lead.
	</div>
	<div class=footer>
		<a href='books/index' class='btn btn-defult' data-dissmis='home' >Close </a>
		<a href='https://www.nytimes.com/section/books/review' class="btn btn-primery"> Download</a>
	</div>
  </div>
</div>
	<div>
	</div>
</div>
</body>
</html>